/* default */
* {
	background-color: transparent;

	border-width: 0;
	background-clip: padding-box;

	-GtkArrow-arrow-scaling: 0.5;
	-GtkButton-child-displacement-x: 1;
	-GtkButton-child-displacement-y: 1;
	-GtkButton-default-border: 0;
	-GtkButton-image-spacing: 0;
	-GtkButton-interior-focus: true;
	-GtkButton-inner-border: 1;
	-GtkCheckButton-indicator-size: 15;
	-GtkCheckMenuItem-indicator-size: 12;
	-GtkEntry-inner-border: 1;
	-GtkEntry-progress-border: 0;
	-GtkExpander-expander-size: 12;
	-GtkHTML-link-color: @link_color;
	-GtkIMHtml-hyperlink-color: @link_color;
	-GtkPaned-handle-size: 1;
	-GtkProgressBar-min-horizontal-bar-height: 10;
	-GtkProgressBar-min-vertical-bar-width: 10;
	-GtkRange-slider-width: 9;
	-GtkRange-stepper-size: 0;
	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-border: 3;
	-GtkRange-trough-under-steppers: 1;
	-GtkScale-trough-border: 1;
	-GtkScrollbar-activate-slider: 1;
	-GtkScrollbar-trough-border: 1;
	-GtkScrollbar-slider-width: 15;
	-GtkScrollbar-min-slider-length: 50;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;
	-GtkSeparatorMenuItem-horizontal-padding: 0;
	-GtkStatusbar-shadow-type: none;
	-GtkTextView-error-underline-color: @error_color;
	-GtkToolButton-icon-spacing: 6;
	-GtkToolItemGroup-expander-size: 11;
	-GtkToolbar-internal-padding: 0;
	-GtkTreeView-expander-size: 11;
	-GtkTreeView-vertical-separator: 0;
	-GtkWindow-resize-grip-width: 13;
	-GtkWindow-resize-grip-height: 13;
	-WnckTasklist-fade-overlay-rect: 0;
}

dialog {
	background-color: @theme_bg_color;
	color: @theme_text_color;
	font-size: 15px;
}

/* inherit the color from parent by default */
* {
	color: inherit;
	background-color: @theme_bg_color;
}

/**********
* states *
**********/
*:disabled {
	color: mix (@theme_fg_color, @theme_bg_color, 0.4);
	text-shadow: 1px 1px alpha (@theme_base_color, 0.4);
}

*:active {
	background-color: shade (@theme_bg_color, 0.9);
}

*:hover {
	background-color: shade (@theme_fg_color, 0.9);
}

button {
	background-color: @theme_bg_color;
	border-radius: 8px;
	border-color: @theme_fg_color;
	border-style: solid;
	border-width: 2px;
	padding: 40px 10px;
}
button:hover {
	background-color: @theme_fg_color;
}

/****************
 * Progress bar *
 ****************/

/* FIXME: this should really be a margin... */
progressbar {
    padding: 3px 3px 7px;
}

progress {
    background-image: linear-gradient(to left top,
                                      alpha (@progressbar_pattern, 0.1),
                                      alpha (@progressbar_pattern, 0.1) 25%,
                                      transparent 25%,
                                      transparent 50%,
                                      alpha (@progressbar_pattern, 0.1) 50%,
                                      alpha (@progressbar_pattern, 0.1) 75%,
                                      transparent 75%,
                                      transparent),
                      linear-gradient(to bottom,
                                      @progressbar_background_a,
                                      @progressbar_background_b);
    background-size: 40px 40px, auto;
    border-radius: 3px;
}
